
/*使宽度继承*/
.mui-table-cell {
    display: block;
}

.cart_left {
    width: 60px;
    height: 60px;
    float: left;
}

.cart_left img{
    width: 60px;
    height: 60px;
    /*display: block;*/
}

.cart_right {
    overflow: hidden;
    padding-left: 20px;
}

.proName {
    color: #333;
    height: 42px;
}

.price_info .price{
    color: red;
    font-size: 16px;
}

.price_info .oldPrice {
    text-decoration: line-through;
    font-size:12px;
}

.price_info .num{
    float: right;
}

.edit_size span {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 5px;
    height: 40px;
    line-height: 40px;
}

.edit_size span.now{
    background-color: #069;
}

.edit_num {
    text-align: left;
}

.cart_price {
    width: 100%;
    padding:0 5px;
    max-width:640px;
    min-width: 320px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 55px;
    z-index: 999;
    color: red;
    background-color: #eee;
    font-size:14px;
    font-weight:bold;
}

.cart_price a{
    float: right;
}
