
@charset "UTF-8";
.lt_nav {
    padding: 10px;
}

.lt_nav li {
    width: 33.33%;
    float: left;
    text-align: center;
}

.li_nav img {
    display: block;
    width: 100%;
}

.lt_product .item p:first-of-type{
    padding-top:5px;
}