
.lt_item {
    padding: 10px;
    border: 1px solid #ccc;
}

.lt_item.price span:first-child {
    color: #f23030;
}

.lt_item.price span:nth-child(2) {
    color: #666;
    text-decoration: line-through;
    font-size:14px;
}


.lt_item.size span{
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    line-height: 38px;
}

.lt_item.num span{
    font-size:12px;
}

.lt_cart {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    height: 55px;
    position: fixed;
    bottom: 0;
    background-color: #eee;
    padding:10px;
}
