
.register {
    font-size:14px;
    float: right;
    padding: 10px;
}

.form{
    padding: 10px;
}

.btn_register {
    width: 100%;
    height: 40px;
    font-size:16px;
}

#inputvCode {
    width: 60%;
}

.form .getvCode {
    width: 35%;
    height: 40px;
}

.form .getvCode.disabled{
    background-color: #999;
    border: 1px solid #999;
}

.register_text {
    height: 20px;
    width: 100%;
    line-height: 20px;
    font-size: 12px;
}

.register_text span{
    height: 20px;
    line-height: 20px;
}
