.content_left {
  width:90px;
  height:100%;
  float: left;
  position: relative;
}
.content_left li {
  width:100%;
  height:50px;
  line-height:50px;
  text-align: center;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
  background-color: #f3f4f5;
}
.content_left li.active {
  background-color: #fff;
  border-right:1px solid #fff;
}
.content_right {
  height:100%;
  position: relative;
  margin-left:90px;
}
.content_right li {
  float: left;
  width:33.33%;
  text-align: center;
}
.content li img {
  width:62px;
  height:62px;
  margin:0 auto;
}
.info {
  margin-top:20px;
  margin-left:20px;
}