* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  display: block;
  width:100%;
}
.ml20 {
  margin-left:20px;
}
.mr20 {
  margin-right:20px;
}
/*通用样式开始*/
html,body {
  height:100%;
}
.container {
  width:100%;
  height:100%;
  max-width:640px;
  padding-top:44px;
  padding-bottom:52px;
  margin:0 auto;
}
.header {
  height:45px;
  width:100%;
  background-color: #069;
  position: fixed;
  z-index:999;
  top:0;
  left:0;
}
.header .right_search,
.header .left_back{
  position: absolute;
  width:45px;
  height:45px;
  top:0;
  color: #fff;
  line-height:45px;
}
.header .right_search {
  right:0;
}
.header .left_back {
  left:0;
}
.header h3 {
  color: #fff;
  text-align: center;
  line-height:45px;
  font-size:18px;
  font-weight:normal;
  margin: 0 45px 0 45px;
}
.content {
  width:100%;
  height:100%;
  position: relative;
  background-color: #fff;
}
.footer {
  width:100%;
  height:52px;
  background-color: #069;
  position: fixed;
  z-index:999;
  bottom:0;
  left:0;
  padding-top:6px;
}
.footer li {
  float: left;
  width:25%;
  text-align: center;
}
.footer li.active a,
.footer li.active a p{
  color: darkorange;
}
.footer a {
  color: #fff;
}
.footer a p {
  color: #fff;
}
.search {
  width:100%;
  height:50px;
  padding:10px 40px 10px 10px;
  position: relative;
}
.search input[type=text] {
  height:34px;
  border:1px solid #069;
  border-radius: 3px;
  font-size:12px;
}
.search input[type=button] {
  width:60px;
  height:34px;
  position: absolute;
  right:30px;
  top:10px;
  background-color: #069;
  color: #fff;
  font-size:12px;
}
.loading {
  width:40px;
  height:40px;
  border:4px solid #069;
  position: absolute;
  left:50%;
  transform:translateX(-50%);
  top:200px;
  animation: zhuan 1s infinite ease-in-out;
}
@keyframes zhuan {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
