.car {
  width:100%;
  height:52px;
  background-color: #eee;
  position: fixed;
  z-index:999;
  bottom:0;
  left:0;
  padding-top:12px;
  line-height:32px;
}
.item {
  border-top:1px solid #ccc;
  padding:10px;
}
.item.title p {
  font-weight:700;
  color: #000;
  font-size:18px;
  line-height:21px;
}
.item .now_price {
  color: red;
  font-size:24px;
}
.item .prev_price {
  text-decoration: line-through;
  color: #666;
}
.item.size span {
  border: 1px solid #ccc;
  padding:5px;
  font-size:12px;
  background-color: #eee;
  line-height:35px;
}
.item.size span.active {
  background-color: #069;
}
.item.desc {
  margin-bottom:20px;
}