@charset "utf-8";
.nav {
  width:100%;
  height:30px;
  line-height:30px;
  background-color: #eee;
  color: #666;
}
.nav li {
  float: left;
  width:25%;
  text-align: center;
  font-size:12px;
}
.nav li.active {
  color: darkorange;
}
.product_list {
  width:100%;
  padding:20px 10px;
}
.product_list li {
  float: left;
  width:48%;
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom:10px;
  padding:10px;
}
.product_list li:nth-child(even) {
  margin-left:4%;
}
.product_list .prev_price {
  color: red;
}
.product_list .old_price {
  text-decoration:line-through;
}
