.mt150 {
    margin-top: 150px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/*aside*/
.lt_aside {
    width: 180px;
    height: 100%;
    background: #222d32;
    position: absolute;
    left: 0;
    transition: all 1s;
}

.lt_aside.now{
    left: -180px;
}

.lt_aside .brand a {
    display: block;
    width: 100%;
    height: 50px;
    line-height:50px;
    text-align: center;
    color: #fff;
    font-size:22px;
    background-color: #337ab7;
}

.lt_aside .user {
    height: 150px;
}

.lt_aside .user img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 30px auto 0;
    border-radius: 50%;
}
.lt_aside .user p{
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size:16px;
    text-align: center;
}

.lt_aside .nav li {
    /*padding-left:50px;*/
}

.lt_aside .nav  a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #ccc;
    padding-left:30px;
    border: 3px solid transparent;
}

.lt_aside .nav a.now{
    background-color: #1d1f21;
    border-left-color: #367fa9;
    color: #fff;
}

.lt_aside .child a {
    padding-left: 50px;
}

/*main*/
.lt_main {
     padding-left:180px;
     transition: all 1s;
 }

.lt_main.now{
    padding-left:0;
}

.lt_header {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: #367fa9;
}

.lt_header a span {
    color: #fff;
    font-size:16px;
}

.container-fluid {
    padding-top:20px;
}

.pic_left {
    width: 500px;
    height: 400px;
}

.pic_right {
    width: 500px;
    height: 400px;
}

.lt_main table td {
    text-align: center;
    vertical-align: center;
}